<div class="container">
  <div class="content">
    <div class="teaser-image">
      <img
        class="background"
        src="assets/img/burger_background.jpg"
        alt="image_background"
      />
      <img
        class="thumbnail"
        src="assets/img/burger_sw.svg"
        alt="image_thumbnail"
      />
    </div>

    <div class="details">
      <h2>OYB - Order Your Burger</h2>
      <div class="rating">
        <img src="assets/img/rating.svg" />
        <p>(30 Bewertungen)</p>
      </div>
      <p>
        Bei diesem Restaurant kannst du Stempel sammeln. Stelle beim
        Bestellabschluss bitte sicher, dass du dich für unseren Newsletter
        angemeldet hast, um deine Stempel per E-Mail zu erhalten.
      </p>

      <app-food-list></app-food-list>
    </div>
  </div>
  <app-basket></app-basket>
</div>
